<a href="https://colab.research.google.com/github/arkham7638/Land-price-prediction-Delhi-/blob/main/land_price_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# *Land Price Prediction With Deployment*

The project deals with the deployment and as well as the pediction of the price of the land along U.I so that the user may interact with the design.
The programming language we will be using python to be exact.

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Import files from the device
from google.colab import files
uploaded = files.upload()

Saving Bangalore.csv to Bangalore (1).csv
Saving Chennai.csv to Chennai.csv
Saving Delhi.csv to Delhi.csv
Saving Hyderabad.csv to Hyderabad.csv
Saving Kolkata.csv to Kolkata.csv
Saving Mumbai.csv to Mumbai.csv

# *Reading The Data-Set*

In [ ]:
# Reading the data from the csv file
df1 = pd.read_csv("Delhi.csv")

df1.head(6)

      Price  Area          Location  ...  Sofa  Wardrobe  Refrigerator
0  10500000  1200  Sector 10 Dwarka  ...     0         0             0
1   6000000  1000       Uttam Nagar  ...     0         0             0
2  15000000  1350      Sarita Vihar  ...     0         0             0
3   2500000   435       Uttam Nagar  ...     0         0             0
4   5800000   900        Dwarka Mor  ...     0         0             0
5  15800000  1800   Sector 7 Dwarka  ...     0         0             0

[6 rows x 40 columns]

In [ ]:
# Getting the shape of the data 
df1.shape

(4998, 40)

In [ ]:
# Get the basic description of the data 
df1.describe()

              Price          Area  ...     Wardrobe  Refrigerator
count  4.998000e+03   4998.000000  ...  4998.000000   4998.000000
mean   1.588638e+07   1277.343737  ...     5.394958      5.411565
std    4.612894e+07    915.217800  ...     4.410549      4.392045
min    2.000000e+06    200.000000  ...     0.000000      0.000000
25%    2.900000e+06    800.000000  ...     0.000000      0.000000
50%    5.500000e+06   1000.000000  ...     9.000000      9.000000
75%    1.580000e+07   1650.000000  ...     9.000000      9.000000
max    8.546000e+08  16000.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
df1.columns

Index(['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale',
       'MaintenanceStaff', 'Gymnasium', 'SwimmingPool', 'LandscapedGardens',
       'JoggingTrack', 'RainWaterHarvesting', 'IndoorGames', 'ShoppingMall',
       'Intercom', 'SportsFacility', 'ATM', 'ClubHouse', 'School',
       '24X7Security', 'PowerBackup', 'CarParking', 'StaffQuarter',
       'Cafeteria', 'MultipurposeRoom', 'Hospital', 'WashingMachine',
       'Gasconnection', 'AC', 'Wifi', 'Children'splayarea', 'LiftAvailable',
       'BED', 'VaastuCompliant', 'Microwave', 'GolfCourse', 'TV',
       'DiningTable', 'Sofa', 'Wardrobe', 'Refrigerator'],
      dtype='object')

In [ ]:
df1['Location'].unique()

array(['Sector 10 Dwarka', 'Uttam Nagar', 'Sarita Vihar', 'Dwarka Mor',
       'Sector 7 Dwarka', 'Sector 6 Dwarka', 'Sector 5 Dwarka',
       'Sector 23 Rohini', 'Mayur Vihar II', 'Sector 24 Rohini',
       'Sector 11 Dwarka', 'Sector 23 Dwarka', 'Sector 12 Dwarka',
       'West End', 'Sector 9 Rohini', 'Mundka', 'Sector 13 Rohini',
       'Jamia Nagar', 'Sector 19 Dwarka', 'Sector 17 Dwarka', 'Bindapur',
       'Sector-18 Dwarka', 'Vasant Kunj', 'Shastri Nagar',
       'Sector-8 Rohini', 'Sector 9 Dwarka', 'Shanti Park Dwarka',
       'Govindpuri', 'Sector 22 Dwarka', 'Matiala', 'Saket',
       'Mahavir Enclave', 'Burari', 'Shahdara', 'Babarpur', 'Khanpur',
       'Sector 13 Dwarka', 'Mansa Ram Park', 'Green Park', 'Kalkaji',
       'Sector 4 Dwarka', 'DLF Phase 5', 'Sector 3 Dwarka',
       'Chittaranjan Park', 'Chattarpur', 'Greater Kailash',
       'Sector-14 Rohini', 'Paschim Vihar', 'Pitampura',
       'Sector 18B Dwarka', 'Sector 2 Dwarka', 'Jasola',
       'Pochanpur Colony', 'Palam', 'Saidabad', 'Budh Vihar',
       'Sector 25 Rohini', 'Sector 18A Dwarka', 'Sewak Park',
       'Sector 23B Dwarka', 'Rohini sector 24', 'Sector 28 Rohini',
       'Rohini Sector 9', 'Rohini Extension', 'nawada', 'Alaknanda',
       'Sector 22 Rohini', 'Lajpat Nagar', 'South Extension 2',
       'Sector 16B Dwarka', 'Sheikh Sarai', 'Sidhartha Nagar',
       'Sector-D Vasant Kunj', 'Hauz Khas', 'Kalkaji Extension',
       'Greater kailash 1', 'Lajpat Nagar III', 'Safdarjung Enclave',
       'Greater Kailash II', 'Sainik Farms', 'Sector 20 Rohini',
       'greater kailash Enclave 1', 'DLF Farms', 'Mehrauli', 'Mahipalpur',
       'mayur vihar phase 1', 'Sarvodaya Enclave', 'Karol Bagh',
       'West Sagarpur', 'Ashok Vihar', 'Sector 21 Dwarka',
       'East of Kailash', 'Khirki Extension', 'Dashrath Puri',
       'SULTANPUR', 'Patparganj', 'Kaushambi', 'Shakurbasti',
       'Hari Nagar', 'Siri Fort', 'Katwaria Sarai', 'Mayur Vihar',
       'Nasirpur', 'Bharat Vihar', 'Nanak Heri Village', 'Vikas Puri',
       'Madhu Vihar', 'New Ashok Nagar', 'Naraina',
       'Tagore Garden Extension', 'New Friends Colony',
       'Sector 14 Rohini', 'Dabri', 'R.K. Puram', 'Vijay Mandal Enclave',
       'Sector 8 Dwarka', 'Badarpur', 'Masjid moth', 'Punjabi Bagh',
       'Gulmohar Enclave', 'Jasola Vihar Sector 8 Road', 'Bharthal',
       'Sheikh Sarai Phase2 New Delhi', 'Abul Fazal Enclave Jamia Nagar',
       'Ramesh Nagar', 'Shaheen Bagh Jamia Nagar',
       'Batla House Jamia Nagar', 'Sector 1A Dwarka', 'Zakir Nagar',
       'i p extension patparganj', 'Neb Sarai',
       'Jogabai Extension New Delhi', 'Jor bagh', 'Delhi',
       'dwarka sector 12', 'Moti Nagar', 'Press Enclave',
       'Kailash Colony', 'Karampura', 'Civil Lines', 'Khanpur Deoli',
       'Naraina Vihar', 'Block GH5', 'West Punjabi Bagh',
       '3 Dwarka Sector 9 Road', 'Dwarka 11 Sector',
       'Block UU Uttari Pitampura', 'Siddharth Enclave', 'Lalita Park',
       'Mathura Road Sarita Vihar', 'Azad Apartments', 'Sadulajab',
       'Rajouri Garden', 'Sector 1 Dwarka', 'Vasant Kunj Marg', 'Munirka',
       'Paryavaran Complex', 'Meera Bagh', 'Kundli', 'Hauz Khas Enclave',
       'dwarka sector 13', 'Rohini sector 16', 'Som Vihar',
       'Mayur Vihar Phase 2', 'Block SD Delhi', 'Model Town',
       'Duggal Colony', 'Shivalik', 'Faridabad Gurgaon Road',
       '86 Sector 21 Road', '1 Lane Johri Farm',
       'Bamnoli Sector 28 Dwarka', 'Sector24', 'IP Extension',
       'Anand Lok', 'Devli', 'Inderpuri', 'MBS Nagar Block WZ', 'Block A',
       'New Ashok Nagar Block E', 'Pocket 12',
       'Alaknanda Gangotri Enclave', 'Sector 19B', 'Roop Nagar',
       'Kamla Nagar', 'param puri', 'Om Nagar', 'Delhi Meerut Expressway',
       'Road Number 1', 'Pitampura Vaishali', 'KMP Expressway',
       'Pratap Nagar', 'Pratap Vihar', 'Chhatarpur Extension', 'Block H',
       'Block C', 'vikaspuri', 'Block C4H', 'Block D', 'Rana Pratap Bagh',
       'Malka Ganj', 'Shakti Nagar', 'Azadpur', 'Panchsheel Enclave',
       'Janakpuri', 'Geetanjali Enclave', 'Kalkaji Govindpuri',
       'Ali Gaon', 'Noida', 'Mall Road', 'North Campus', 'Block F',
       'Shalimar Bagh', 'DLF Golf Course', 'Park End', 'South Delhi',
       'Sahibabad', 'F Block', 'Block 18', 'Sector-7 Rohini',
       '10 Sector Dwarka', 'Sector 6 Rohini', 'Dwarka More',
       'Dwarka Sector3', 'Prithviraj Road', 'Sector 23',
       'Vasundhara Enclave', 'Om Enclave Mithapur Extension',
       'West Enclave', 'Khari Baoli Road', 'Chhattarpur Enclave Phase1',
       'Rama Park', 'Mayur Vihar 2 Phase', 'Sector 15 Rohini',
       '92 Sector 22 Road', 'Sector 10', 'Sector 4 Rohini',
       'Dwarka New Delhi 110075', 'Sunder Nagar', 'CVD Line',
       'Vijay Nagar', 'Malviya Nagar', 'Molar band Extension',
       'Gurgaon Delhi Expressway', 'Okhla Village', 'Mayur Vihar III',
       'Vasant Vihar', 'joshi road', 'Krishna Nagar', 'Sector 62',
       'Faridabad Road', 'Aurungzeb Road', 'Okhla', 'Mandi House',
       'Sector 37 Rohini', 'Vishal Enclave', 'Sector 112',
       '85 Sector 22 Road', 'Sushant Lok Phase 1 Barakhamba',
       'Sector 21 Dwarka New Delhi', 'Chanakya Puri', 'Mathura Road',
       'Sector 108', '75 Sector 22 Road', '75 Noida Road', 'Vaishali',
       'Pratap Khand', 'Sangam Vihar', '47 Sector 22 Road',
       'Munirka Vihar', 'Ghitorni', 'Sector 4', 'Sector 53',
       'Shankar Vihar', 'Krishna Park Jawahar Park', 'Nanak Pura',
       'Green Park Extension', 'Noida Road', '48 Sector 22 Road',
       'Sector 33 Rohini', 'Munirka Marg', 'Pocket3 Sector24',
       'Panchsheel Park', 'Shakti Vihar School Road',
       'Residential FlatVasant Vihar', '79 Sector 23 Road',
       'Kundli Manesar Palwal Expressway', 'Phase 2 Chattarpur Enclave',
       'Om Vihar', 'Anarkali Colony', 'Nawada Extension',
       'Lajpat Nagar IV', 'New Manglapuri', 'MG Road Ghitorni', 'Tigri',
       'Dharampura', 'Ansal Satbari', '78 Sector 6 Road',
       'Sector C Vasant Kunj', 'CD Block Dakshini Pitampura',
       '59 Sector 22 Road', 'KarKardooma', 'Nirman Vihar', 'Preet Vihar',
       'Gagan Vihar', 'Anand Niketan', 'Pushpanjali Enclave',
       'Sector 14 Dwarka', 'Block Wb Ganesh Nagar II', 'Block E',
       '72 Sector 23 Road', 'Aurobindo Marg', 'Kirti Nagar',
       'Rajpur Road', 'Residential FlatShakurbasti',
       'Residential FlatRajouri Garden', '77 Sector 6 Road',
       '82 Sector 22 Road', 'Dwarka Road', 'South Anarkali Delhi',
       'South Extension Part 1', 'Defence Colony', 'Ashram New',
       'Mansarovar garden', 'Golf Links', 'Connaught Place', 'Westend',
       'Raju Parak Extension', 'Sector 26 Dwarka', 'Swasthya Vihar',
       'Anand Vihar', 'Pontoon Bridge', 'Hastsal',
       'Sector 8 Dwarka Block B', 'Transit Camp',
       'Residential FlatSeelamPur', 'Rajpur', 'Meenakshi Garden',
       'Dwarka sec 6'], dtype=object)

In [ ]:
# Gruoping the data according with the same type
df1.groupby('Location')['Location'].agg('count')

Location
1 Lane Johri Farm          1
10 Sector Dwarka           2
3 Dwarka Sector 9 Road     1
47 Sector 22 Road          2
48 Sector 22 Road          1
                          ..
joshi road                 1
mayur vihar phase 1        9
nawada                    30
param puri                 4
vikaspuri                  4
Name: Location, Length: 339, dtype: int64

In [ ]:
# finding the missing values
df1.isnull().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [ ]:
# Droping the NA values
df2 = df1.dropna()
df2.isnull().sum()

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
Children'splayarea     0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [ ]:
df2.shape

(4998, 40)

In [ ]:
df2['Area'].unique()

array([ 1200,  1000,  1350,   435,   900,  1800,  1500,  1300,  1550,
         600,   385,  2500,  1050,  1600,   630,  2000,  1125,   415,
         675,  1750,  4600,  1650,   540,   950,   850,   450,  1551,
         650,   550,  1843,  3000,  1700,   700,   750,   810,  1250,
        3800,   380,  2250,   645,   920,   570,  6400,  1100,   800,
         500,   620,   581,  2150,  2350,   720,   990,   765,  1950,
         410,  1450,  1400,  1150,  1900,   820,   625,   525,  2200,
        2400,  2300,  2100,  2600,   360,   400,  2800,  1170,   638,
         954,   774,   495,   738,  1080,   517,   864,   612,   558,
         585,   567,   875,   756,  4500,   855,  2700,   980,   580,
        1850,  2050,  3500,  1880,  4200,   680,  1485,   480,   350,
        1375,   740,   477,   865,   640,   685,   520,   658,  1638,
         616,   505,   667,   510,   861,   755,   760,  2520,  1440,
        1055,   970,   545,   615,  1215,  2001,   785,  2302,  1245,
        3200,  1530,  3300,   560,   830,   300,   610,   770,  1105,
        2650,  2750,   220,   200,   210,   531,  3260,  3450,  2160,
        2850,  1160,   818,   845,  1475,   833,   799,  1030,  1025,
        1035,  1565,  2550,  1560,   562,   549,  1953,  1963,  1711,
        1699,  1321,  1599,  5500,  1858,   590,   465,  2870,   516,
         530,   594,   565,  1680,  7254,  1658,  2450,  4966,  5000,
        4000,  2402,  6976,  2311,  3250,   521,  1435,  1801,  6815,
        7049,  5422,  6650,  5503,  4350,  6877,  7500,  7251,  6905,
        1017,  1337,   518,  1381,  2799,   460,   420,   883,  1855,
        2025,  1758,  1582,   668,  4580,   975,  1625,  1204,  2590,
        3600,  1114,  1821,  2741,  2530,  1845,  1930,   945,  5412,
         972,  1869,  2798,  2369, 16000,  2210,  2900,  1333,  1894,
        1904,  4430,  1420,  1906,  1886,  2863,  5621,  5211,  2202,
        1501,  1854,   426,  4503,  1872,  1504,   405,  2448,  2580,
        5175,  2430,  1115,  1075,  1387,   422,  4506,  3015,  1620,
         440,  5625,  1503,  6521,  3123,  2322,  1206,  2106,  1006,
        1040,  1175,   459,   918,   504,   780,   909,   790,   556,
        4502,  4501,  1980,  2754,  1957,  1888,  1255,  1999,  2555,
        2666,  2380,  2305,  3240,  2070,  2645,  2011,  7211, 12552,
        8521,  5523,  4950,  1251,   952,  1106,  1615,  2475,  1194,
        1097,  2790,  1905,  1180,   725,  1827,  1401,  1510,  1103,
         407,  6852,  4521,  1002,  3006,  1201,  2537,  7000,  1260,
        4400,   401,   507,   890,  1996,   730,   811,  6975,  1007,
        1875,  1835,  1585,  2970,  1490,  1264,  2395,  1751,  1732,
        2725,  2639,  1825,  1076,   532,  2075,  1931,  3715,  1256,
         632,  2195,  1240,  7259,  8000,  5550,  1470,  1674,  1044,
        7411,  1429,  2833,  1210,  1360,  1406,  5200,  1188,  9000,
        3650,  1647,  1690,   648,  1935,  1653,  1386,   801,   690,
        1005,  4376,  5582,  1225,  2360,  1020,  1107,  1207,  1498,
        1965,   586,   240,  1537,  1709,  2911,  1442,   677,  1143,
        2340,  2111,  6541,  1197,   605,  2808,  6544,  1610,  1629,
        1102,  1101,  1728,  1323,  1422,   927,  3460,  3850,  4300,
         710,  1786,   979,  2234,  2020,   981,  1152,  1809,  6251,
        3652,  1269,  1089,  2021,  2341,  2010,  3375,  2140,  1784,
        1881,  4504,   888,  1651,  1053,  1134,  1415,   965,  1223,
        4010,  2320,  2423,   978,   704,   572,  1220,  2412,  2620,
        1190,  2312,  2031,  1275])

# *Exploring the feature Engineering*

In [ ]:
# just seeing the data-set
df2[df.Price>=10500000]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

         Price  Area          Location  ...  Sofa  Wardrobe  Refrigerator
0     10500000  1200  Sector 10 Dwarka  ...     0         0             0
6     15400000  1500   Sector 6 Dwarka  ...     0         0             0
18     3600000  1050            Mundka  ...     0         0             0
24     5800000   900        Dwarka Mor  ...     0         0             0
36     5000000  1000        Dwarka Mor  ...     0         0             0
...        ...   ...               ...  ...   ...       ...           ...
4941   2450000   550       Uttam Nagar  ...     9         9             9
4960   2450000   760       Uttam Nagar  ...     9         9             9
4962   3300000   750       Uttam Nagar  ...     9         9             9
4983  16500000  1900  Sector 19 Dwarka  ...     9         9             9
4993   2500000   540       Madhu Vihar  ...     9         9             9

[1205 rows x 40 columns]

Exploring the Area(in square-feet) feature:

In [ ]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True